body{
     background-color: #949494;
     padding-bottom: 200px;
}

a img{
     width: 50px; 
     height: 50px;
     margin-right: 2%;
}

.brandName {
     text-align: center;
     color: #89afb5;
     font-family: 'Roboto Slab', serif;
}

.brandName h1{
     font-size: 15rem;
}

.brandSlogan {
     text-align: center;
     color: #89afb5;
     font-family: 'Roboto Slab', serif;
}

.brandSlogan h3{
     font-size: 3rem;
     padding-left: 1rem;
     margin-top: 2rem;
}

.BRANDsplitline{
     width: 15rem;
     height: 1rem;
     background-color: #4b4ba3;
     margin: 0 auto;
}


.TolkenText{
     width: 400px;
}

.TolkenText h1{
     text-align: left;
     font-size: 5rem;
}

.TolkenText p{
     font-size: 1rem;
     margin-left: 0.5rem;
}

.TOLKsplitline{
     width: 15rem;
     height: 0.25rem;
     background-color: #212529;
     margin-left: 0.5rem;
     margin-bottom: 1rem;
}

.VertalenText{
     width: 400px;
}

.VertalenText h1{
     text-align: left;
     font-size: 5rem;
}

.VertalenText p{
     font-size: 1rem;
     margin-left: 0.5rem;
}

.VERTAALsplitline{
     width: 15rem;
     height: 0.25rem;
     background-color: #212529;
     margin-left: 0.5rem;
     margin-bottom: 1rem;
}

.VertaalTalenText{
     width: 550px;
     margin: 0 auto;
}

.VertaalTalenText h1{
     text-align: center;
     font-size: 4.25rem;
}

.VertaalTalenText p{
     font-size: 1rem;
     margin-left: 0.5rem;
     text-align: center;
     margin-top: 1rem;
}

.TALENsplitline{
     width: 95%;
     height: 0.25rem;
     background-color: #212529;
     margin-left: 0.5rem;
     margin: 0 auto;
}

.VertaalRichtingen{
     margin-top: 7rem;
}

.Arabisch-NederlandsRichting{
     float: left;
     margin-left: 10%;
}

.Engels-ArabischRichting{
     float: right;
     margin-right: 10%;
}

.RightArrow{
     color: whitesmoke;
}

.LeftArrow{
     color: whitesmoke;
}

.Richting-Check{
     color: greenyellow;
}


.ContactTitle{
     text-align: center;
     margin-top: 100px;
}

.ErrorContactForm{
     margin: 0 auto;
     text-align: center;
     width: 475px;
}

.OfferTitle{
     font-size: 5rem;
     margin-left: 10%;
     padding-bottom: 5rem;
     margin-top: 2.5rem;
}

.OfferForm{
     margin-left: 10%;
}

#BackToTopbtn{
     position: fixed;
     bottom: 40px;
     right: 40px;
     border-radius: 50%;
     font-size: 2.25rem;
     width: 70px;
     display: none;
     z-index: 99;
}

.GoogleMapsLocation{
     width: 100%;
     height: 550px;
     margin-top: 150px;
}


@media (min-width:320px)  {
     .TolkenText{
          width: 180px;
          padding-bottom: 15rem;
          margin: 0 auto;
     }
}

@media (min-width:480px)  {
     .TolkenText{
          width: 240px;
          padding-bottom: 15rem;
          margin: 0 auto;
     }
}

@media (min-width:600px)  { 
     .TolkenText{
          width: 275px;
          padding-bottom: 15rem;
          margin: 0 auto;
     }
}

@media (min-width:801px)  {
     .TolkenText{
          width: 260px;
          padding-bottom: 15rem;
          margin: 0 auto;
     }
}

@media (min-width:1025px) {
     .TolkenText{
          width: 300px;
          padding-bottom: 15rem;
          margin: 0 auto;
     }
}

@media (min-width:1281px) {
     .TolkenText{
          width: 400px;
          padding-bottom: 0rem;
          margin-left: 15%;
          float: left;
     }
}

@media (min-width:320px)  {
     .VertalenText{
          width: 180px;
          margin: 0 auto;
     }
}

@media (min-width:480px)  {
     .VertalenText{
          width: 240px;
          margin: 0 auto;
     }
}

@media (min-width:600px)  { 
     .VertalenText{
          width: 275px;
          margin: 0 auto;
     }
}

@media (min-width:801px)  {
     .VertalenText{
          width: 260px;
          margin: 0 auto;
     }
}

@media (min-width:1025px) {
     .VertalenText{
          width: 300px;
          margin: 0 auto;
     }
}

@media (min-width:1281px) {
     .VertalenText{
          width: 400px;
          float: right;
          margin-right: 15%;
          margin-left: 0%;
          margin-top: 0rem;
     }
}

@media (max-width:600px) {
     .brandName h1{
          font-size: 12.5rem;
     }
}

@media (max-width:1280px) {
     .TolkVertaal-Container{
          margin-top: 325px;
     }
}

@media (min-width:1281px) {
     .TolkVertaal-Container{
          margin-top: 500px;
     }
}

@media (min-width:320px)  {
     .VertaalTalenText{
          width: 275px;
          padding-top: 300px;
          
     }
}

@media (min-width:480px)  {
     .VertaalTalenText{
          width: 300px;
          padding-top: 300px;
          
     }
}

@media (min-width:600px)  { 
     .VertaalTalenText{
          width: 350px;
          padding-top: 300px;
          
     }
}

@media (min-width:801px)  {
     .VertaalTalenText{
          width: 375px;
          padding-top: 300px;
         
     }
}

@media (min-width:1025px) {
     .VertaalTalenText{
          width: 500px;
          padding-top: 300px;
          
     }
}

@media (min-width:1281px) {
     .VertaalTalenText{
          width: 550px;
          padding-top: 450px;
          
     }
}

@media (max-width:670px) {
     .Arabisch-NederlandsRichting{
          font-size: 16px;
     }
}

@media (min-width:671px) {
     .Arabisch-NederlandsRichting{
          font-size: 22px;
     }
}

@media (min-width:940px) {
     .Arabisch-NederlandsRichting{
          font-size: 28px;
     }
}

@media (max-width:670px) {
     .Engels-ArabischRichting{
          font-size: 16px;
     }
}

@media (min-width:671px) {
     .Engels-ArabischRichting{
          font-size: 22px;
     }
}

@media (min-width:940px) {
     .Engels-ArabischRichting{
          font-size: 28px;
     }
}

@media (max-width:640px) {
     .ContactForm{
          margin-left: 25%;
          margin-top: 75px;
          font-size: 1.25rem;
     }
}

@media (min-width:641px) {
     .ContactForm{
          margin: 0 auto;
          margin-top: 75px;
          font-size: 1.25rem;
     }
}

@media (min-width:320px)  {
     .ContactForm{
          width: 225px;
     }
}

@media (min-width:480px)  {
     .ContactForm{
          width: 250px;
     }
}

@media (min-width:600px)  { 
     .ContactForm{
          width: 275px;
     }
}

@media (min-width:801px)  {
     .ContactForm{
          width: 275px;
     }
}

@media (min-width:1025px) {
     .ContactForm{
          width: 325px;
     }
}

@media (min-width:1281px) {
     .ContactForm{
          width: 25%;
     }
}

@media (max-width:767px) {
     .OfferForm{
          width: 400px;
     }
}

@media (min-width:768px) {
     .OfferForm{
          width: 1500px;
     }
}


